*
{
    margin: 0;
    padding: 0;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 1;
}

.navbar {
    position: absolute; /* Changed to absolute */
    top: 0;
    left: 0;
    width: 100%;
    color: red;
    z-index: 2; /* Navbar will be above the canvas */
    padding: 10px;
    font-weight: bold;
    letter-spacing: 1rem;
    text-align: center;
}

.hero {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: white;
    z-index: 2;
    text-align: center;
}


.soundcloud-container {
    width: 90%;
    display: flex;
    gap: 1rem;
    margin: auto;

}

.soundcloud-item {
    width: 50%;
    height: 100%;
}



/* IFRAME */
.mb {
    margin-bottom: 2rem;
}