*
{
    margin: 0;
    padding: 0;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 1;
}

.navbar {
    position: absolute; /* Changed to absolute */
    top: 0;
    left: 0;
    /* width: 100%; */
    color: white;
    z-index: 2; /* Navbar will be above the canvas */
    padding: 10px;
    /* text-align: center; */
}

.hero {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: white;
    z-index: 2;
    text-align: center;
}

.image-container {
    opacity: 0;
    transition: opacity 10s ease-in-out; /* Adjust duration and easing as needed */
}

.image-container img {
    max-width: 100%;
    height: auto;
}

/* This class will be added by JavaScript */
.image-container.visible {
    opacity: 1;
}



/* IFRAME */
.mb {
    margin-bottom: 2rem;
}